name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  create-gh-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate CHANGELOG.md
        run: |
          PREV_TAG=$(git describe --tags --abbrev=0 HEAD^ 2>/dev/null || echo "")
          CUR_TAG=${GITHUB_REF_NAME}
          LOG_FORMAT='- **`%h`** %s by @%cn'
          REPO_URL="https://github.com/${{ github.repository }}"

          if [ -z "$PREV_TAG" ]; then
            echo "## Initial Release" > CHANGELOG.md
            echo "" >> CHANGELOG.md
            git log --reverse --pretty=format:"$LOG_FORMAT" >> CHANGELOG.md
          else
            echo "## Changelog $PREV_TAG..$CUR_TAG" > CHANGELOG.md
            echo "" >> CHANGELOG.md
            git log $PREV_TAG..HEAD --reverse --pretty=format:"$LOG_FORMAT" >> CHANGELOG.md
            echo "" >> CHANGELOG.md
            echo "" >> CHANGELOG.md
            echo "**Full Changelog**: [\`$PREV_TAG..$CUR_TAG\`]($REPO_URL/compare/$PREV_TAG...$CUR_TAG)" >> CHANGELOG.md
          fi
      - uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          generate_release_notes: false
          body_path: CHANGELOG.md
          files: |
            LICENSE

  publish:
    runs-on: ubuntu-latest

    environment: production

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm publish --access public --no-git-checks --provenance
